<!DOCTYPE HTML>
<html lang="en">
<head>
        <title>PizzaH&V</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="fonts/beyond_the_mountains-webfont.css" type="text/css"/>

        <!-- Stylesheets -->
        <link href="plugin-frameworks/bootstrap.min.css" rel="stylesheet">
        <link href="plugin-frameworks/swiper.css" rel="stylesheet">
        <link href="fonts/ionicons.css" rel="stylesheet">
        <link href="common/styles.css" rel="stylesheet">
        <link href="common/styleLogin.css" rel="stylesheet">

</head>
<body>


    <div class="container">
        <div class="row block user">
            <h3>Create your account</h3>
        </div>
    </div>

    <div class="backMenu">
        <a href="LoginUser.html">
            <img src="/images/ImgIcon/chevron-left-solid.svg" />
            <p>Login</p>
        </a>
    </div>
    
    <div class="container">
    
        <div class="row block">
            <div class="sign-in">
                <form>
                    <h6>Email Address</h6>
                    <input type="text" name="email" placeholder="Email which registered" />
    
                    <h6>Your PhoneNumber</h6>
                    <input type="text" name="phoneNumber" placeholder="PhoneNumber to sign in your account" />

                    <h6>Your Password</h6>
                    <input type="password" name="password" placeholder="Password to sign in your account" />

                    <h6>Password Again</h6>
                    <input type="password" name="rePassword" placeholder="Password to sign in your account" />
                </form>
    
                <button class="btn-login mt-20">Create</button>
            </div>
        </div>
    
    </div>
    
    

<!-- SCIPTS -->
<script src="plugin-frameworks/jquery-3.2.1.min.js"></script>
<script src="plugin-frameworks/bootstrap.min.js"></script>
<script src="plugin-frameworks/swiper.js"></script>
<script src="common/scripts.js"></script>
<script src="common/myJS.js"></script>
<script type="text/javascript" src="common/jquery.waypoints.min.js"></script>


</body>
</html>