<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/Content/myStyle/styleLogin.css" />
    @*@Styles.Render("~/Content/myStyle/styleLogin.css")*@
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
